<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /easylife/install

	# Allow any files or directories that exist to be displayed directly
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	# Rewrite all other URLs to index.php?cont=URL
	RewriteRule ^(.+)$ index.php?cont=$1 [L]

	#Rewrite anchor directories to index.php?cont=URL even though they exist.
	#Don't rewrite files so that we can still load CSS, etc (except .log files).
	RewriteCond %{REQUEST_FILENAME} -f
	RewriteCond %{REQUEST_URI} !\.log$
	RewriteRule .* - [S=5]
</IfModule>

<IfModule !mod_rewrite.c>
	ErrorDocument 404 index.php
</IfModule>